*{
	margin:0;
	padding:0;
}
body{
	/*background:#FFF url(../images/bg.jpg) repeat top left;*/
	background-color: #F7ECC1;
}
h2{
	font-weight:normal;
	font-family:"微软雅黑";
	float:right;
	margin-top:35px;
	color:#777;
	font-size:27px;
}
h1{
	font-weight:normal;
	font-family:"微软雅黑";
	color:#777;
	font-size:45px;
	float:left;
	margin:10px;
}
h3{
	color:#777;
	display:block;
	clear:both;
	font-weight:normal;
	font-size:20px;
	margin:10px;
	font-style:italic;
	text-align:center;
}
.content{
	width:900px;
	position:relative;
	margin:20px auto 0px auto;
}
span.reference{
	font-family:"微软雅黑";
	text-align:center;
	font-size:12px;
	display:block;
	margin-top:20px;
}
span.reference a{
	color:#999;
	text-transform:uppercase;
	text-decoration:none;
	margin-right:20px;
}
#logo {
	position:absolute;
	left: 670px;
	top: 580px;
}
.intro  {
	font-weight: bold;
	font-size: 20px;
	font-family:"微软雅黑";
	padding-left: 50px;
	display: none;
	text-align: left;
	text-shadow:2px 2px 2px #C90; color: #000000;
}
#main {
	position:absolute;
	top: 560px;
}